.landing-container{
    z-index: +1;

  .header{
    display: flex;
    justify-content: space-between;
    align-items: center;



    h1{
      padding: 1rem;
      font-size: 3rem;
      color: #489551;
    }
  
    .landing-nav{
      padding: 1rem;
  
      .link{
        color: #489551;
        text-decoration: none;
        font-weight: bold;
        font-size: 1.5rem;
        padding: 1rem;
      }
    }
  }


.landing-map{
  width: 100%;
  padding: 20vh 0;
  display: flex;
  margin-top: 5%;

  .grass-strip{
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .empty{
    background-color: black;
    height: 16px;
    width: 16px;
  }

  .grass {
    background: url('../assets/tiles_packed.png') -64px -16px;
    height: 16px;
    width: 16px;
  }
  
  .grass-tl {
      background: url('../assets/tiles_packed.png') -0px -0px;
      height: 16px;
      width: 16px;
  }
  
  .grass-t1 {
      background: url('../assets/tiles_packed.png') -16px -0px;
      height: 16px;
      width: 16px;
  }
  
  .grass-t2 {
      background: url('../assets/tiles_packed.png') -32px -0px;
      height: 16px;
      width: 16px;
  }
  
  .grass-tr {
      background: url('../assets/tiles_packed.png') -80px -0px;
      height: 16px;
      width: 16px;
  }
  
  .grass-l {
      background: url('../assets/tiles_packed.png') -0px -16px;
      height: 16px;
      width: 16px;
  }
  
  .grass-r {
      background: url('../assets/tiles_packed.png') -80px -16px;
      height: 16px;
      width: 16px;
  }
  
  .grass-bl {
      background: url('../assets/tiles_packed.png') -0px -64px;
      height: 16px;
      width: 16px;
  }
  
  .grass-b {
      background: url('../assets/tiles_packed.png') -16px -64px;
      height: 16px;
      width: 16px;
  }
  
  .grass-br {
      background: url('../assets/tiles_packed.png') -80px -64px;
      height: 16px;
      width: 16px;
  }
  
  .grass-e-tl {
      background: url('../assets/tiles_packed.png') -96px -0px;
      height: 16px;
      width: 16px;
  }
  
  .grass-e-tb {
      background: url('../assets/tiles_packed.png') -112px -0px;
      height: 16px;
      width: 16px;
  }
  
  .grass-e-tr {
      background: url('../assets/tiles_packed.png') -128px -0px;
      height: 16px;
      width: 16px;
  }
  
  .grass-e-lr {
      background: url('../assets/tiles_packed.png') -96px -16px;
      height: 16px;
      width: 16px;
  }
  
  .grass-e-bl {
      background: url('../assets/tiles_packed.png') -96px -32px;
      height: 16px;
      width: 16px;
  }
  
  .grass-e-tr {
      background: url('../assets/tiles_packed.png') -128px -0px;
      height: 16px;
      width: 16px;
  }
  
  .grass-e-br {
      background: url('../assets/tiles_packed.png') -128px -32px;
      height: 16px;
      width: 16px;
  }
  
  .grass-overlay {
      background: url('../assets/tiles_packed.png') -112px -16px;
      height: 16px;
      width: 16px;
  }
  
  .wall-t-1-obs {
      background: url('../assets/tiles_packed.png') -0px -80px;
      height: 16px;
      width: 16px;
  }
  
  .wall-t-2-obs {
      background: url('../assets/tiles_packed.png') -16px -80px;
      height: 16px;
      width: 16px;
  }
  
  .wall-t-3-obs {
      background: url('../assets/tiles_packed.png') -32px -80px;
      height: 16px;
      width: 16px;
  }
  
  .wall-t-4-obs {
      background: url('../assets/tiles_packed.png') -48px -80px;
      height: 16px;
      width: 16px;
  }
  
  .wall-t-5-obs {
      background: url('../assets/tiles_packed.png') -64px -80px;
      height: 16px;
      width: 16px;
  }
  
  .wall-m-1-obs {
      background: url('../assets/tiles_packed.png') -0px -96px;
      height: 16px;
      width: 16px;
  }
  
  .wall-m-2-obs {
      background: url('../assets/tiles_packed.png') -16px -96px;
      height: 16px;
      width: 16px;
  }
  
  .wall-m-3-obs {
      background: url('../assets/tiles_packed.png') -32px -96px;
      height: 16px;
      width: 16px;
  }
  
  .wall-m-4-obs {
      background: url('../assets/tiles_packed.png') -48px -96px;
      height: 16px;
      width: 16px;
  }
  
  .wall-m-5-obs {
      background: url('../assets/tiles_packed.png') -64px -96px;
      height: 16px;
      width: 16px;
  }
  
  .wall-b-1-obs {
      background: url('../assets/tiles_packed.png') -0px -112px;
      height: 16px;
      width: 16px;
  }
  
  .wall-b-2-obs {
      background: url('../assets/tiles_packed.png') -16px -112px;
      height: 16px;
      width: 16px;
  }
  
  .wall-b-3-obs {
      background: url('../assets/tiles_packed.png') -64px -112px;
      height: 16px;
      width: 16px;
  }
  
  .bridge-1 {
      background: url('../assets/tiles_packed.png') -144px -32px;
      height: 16px;
      width: 16px;
  }
  
  .bridge-2 {
      background: url('../assets/tiles_packed.png') -160px -32px;
      height: 16px;
      width: 16px;
  }
  
  .bridge-3 {
      background: url('../assets/tiles_packed.png') -176px -32px;
      height: 16px;
      width: 16px;
  }
  
  .bridge-4 {
      background: url('../assets/tiles_packed.png') -128px -48px;
      height: 16px;
      width: 16px;
  }
  .bridge-5 {
      background: url('../assets/tiles_packed.png') -144px -48px;
      height: 16px;
      width: 16px;
  }
  .bridge-6 {
      background: url('../assets/tiles_packed.png') -160px -48px;
      height: 16px;
      width: 16px;
  }
  
  .rock-1-obs {
      background: url('../assets/tiles_packed.png') -128px -112px;
      height: 16px;
      width: 16px;
  }
  
  .rock-2-obs {
      background: url('../assets/tiles_packed.png') -144px -112px;
      height: 16px;
      width: 16px;
  }
  
  .mushroom-1-obs {
      background: url('../assets/tiles_packed.png') -160px -98px;
      height: 16px;
      width: 16px;
  }
  
  .mushroom-2-obs {
      background: url('../assets/tiles_packed.png') -160px -112px;
      height: 16px;
      width: 16px;
  }
  
  .stump-1-obs {
      background: url('../assets/tiles_packed.png') -176px -112px;
      height: 16px;
      width: 16px;
  }
  
  .stump-2-obs {
      background: url('../assets/tiles_packed.png') -192px -112px;
      height: 16px;
      width: 16px;
  }
  
  .flask-1 {
      z-index: 1000;
      background: url('../assets/tiles_packed.png') -224px -96px;
      height: 16px;
      width: 16px;
  }
  
  .flask-2 {
      background: url('../assets/tiles_packed.png') -240px -96px;
      height: 16px;
      width: 16px;
  }
  
  .flask-3-obs {
      background: url('../assets/tiles_packed.png') -224px -112px;
      height: 16px;
      width: 16px;
  }
  
  .flask-4-obs {
      background: url('../assets/tiles_packed.png') -240px -112px;
      height: 16px;
      width: 16px;
  }
  
  .tree-1 {
      background: url('../assets/tiles_packed.png') -192px -0px;
      height: 16px;
      width: 16px;
  }
  
  .tree-2 {
      background: url('../assets/tiles_packed.png') -208px -0px;
      height: 16px;
      width: 16px;
  }
  
  .tree-3 {
      background: url('../assets/tiles_packed.png') -224px -0px;
      height: 16px;
      width: 16px;
  }
  
  .tree-4 {
      background: url('../assets/tiles_packed.png') -240px -0px;
      height: 16px;
      width: 16px;
  }
  
  .tree-5 {
      background: url('../assets/tiles_packed.png') -192px -16px;
      height: 16px;
      width: 16px;
  }
  
  .tree-6 {
      background: url('../assets/tiles_packed.png') -208px -16px;
      height: 16px;
      width: 16px;
  }
  
  .tree-7 {
      background: url('../assets/tiles_packed.png') -224px -16px;
      height: 16px;
      width: 16px;
  }
  
  .tree-8 {
      background: url('../assets/tiles_packed.png') -240px -16px; 
      height: 16px;
      width: 16px;
  }
  
  .tree-9 {
      background: url('../assets/tiles_packed.png') -192px -32px;
      height: 16px;
      width: 16px;
  }
  
  .tree-10 {
      background: url('../assets/tiles_packed.png') -208px -32px;
      height: 16px;
      width: 16px;
  }
  
  .tree-11 {
      background: url('../assets/tiles_packed.png') -224px -32px;
      height: 16px;
      width: 16px;
  }
  
  .tree-12 {
      background: url('../assets/tiles_packed.png') -240px -32px;
      height: 16px;
      width: 16px;
  }
  
  .tree-13-obs {
      background: url('../assets/tiles_packed.png') -208px -48px;
      height: 16px;
      width: 16px;
  }
  
  .tree-14-obs {
      background: url('../assets/tiles_packed.png') -224px -48px;
      height: 16px;
      width: 16px;
  }
  
  .grass-c-tl {
      background: url('../assets/tiles_packed.png') -48px -48px;
      height: 16px;
      width: 16px;
  }
  
  .grass-c-tr {
      background: url('../assets/tiles_packed.png') -16px -48px;
      height: 16px;
      width: 16px;
  }
  
  .grass-c-bl {
      background: url('../assets/tiles_packed.png') -48px -16px;
      height: 16px;
      width: 16px;
  }
  
  .grass-c-br {
      background: url('../assets/tiles_packed.png') -16px -16px;
      height: 16px;
      width: 16px;
  }
  
  .grass-c-bl-br {
      background: url('../assets/tiles_packed.png') -96px -48px;
      height: 16px;
      width: 16px;
  }
  
  .grass-c-tl-bl {
      background: url('../assets/tiles_packed.png') -112px -48px;
      height: 16px;
      width: 16px;
  }
  
  .grass-c-tr-br {
      background: url('../assets/tiles_packed.png') -96px -64px;
      height: 16px;
      width: 16px;
  }
  
  .grass-c-tl-tr {
      background: url('../assets/tiles_packed.png') -112px -64px;
      height: 16px;
      width: 16px;
  }
  
  .treasure-obs {
      background: url('../assets/tiles_packed.png') -16px -0px;
      height: 16px;
      width: 16px;
  }
  
  .treasure2-obs {
      background: url('../assets/tiles_packed.png') -16px -32px;
      height: 16px;
      width: 16px;
  }
}

}